:root {
  --universe-width: 0;
  --universe-height: 0;
  --cell-size: calc(12 * 4px);
  --cell-gap: 8px;
  --floor-color: oklch(74% 0 52.94);
  --lava-color: oklch(70% 0.227 38.12);
  --goal-color: oklch(85.29% 0.328 142.94);

  --size-0: 0.25rem;
  --size-1: 0.5rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.125rem;
  --size-6: 1.25rem;
  --size-7: 1.5rem;
  --size-8: 1.875rem;
  --size-9: 2.25rem;
  --size-10: 3rem;
  --size-11: 4rem;
  --size-12: 4.5rem;
  --size-13: 5rem;
  --size-14: 6rem;
  --size-max: 999999px;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'Nova Mono', monospace;
}

h1 {
  margin: 0;
}

#game {
  display: grid;
  grid-template-columns: repeat(var(--universe-width), 1fr);
  grid-template-rows: repeat(var(--universe-height), 1fr);
  grid-gap: var(--cell-gap);

  margin: var(--size-4) 0;
}

#controls {
  #moves {
    margin-top: var(--size-4);
    display: flex;
    align-items: center;
    background-color: oklch(90% 0 202);
    border-radius: var(--size-2);
    width: 100%;
    padding: var(--size-2);
    min-height: var(--size-13);

    & .move {
      cursor: pointer;
      font-family: monospace;
      font-size: var(--size-9);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: var(--size-1);
      background-color: oklch(50.67% 0 202.24);
      width: var(--size-11);
      height: var(--size-11);
      color: white;
    }

    & .move:not(:last-child) {
      margin-right: var(--size-1);
    }
  }
}
